body{
  word-wrap:break-word;
  word-break:break-all;
}
.modal-backdrop{
  background-color: transparent;
}
.modal-footer{
  text-align: center;
}
.ok-btn{
    background: #63ba4f;
    color: #fff;
}
.cancel-btn{
    background: #ccc;
    color: #fff;
}
.def-btn{
    background: #63ba4f;
    color: #fff;
}
.ok-btn:hover,
.ok-btn:focus,
.def-btn:hover,
.def-btn:focus{
    background: #63ba4f;
    color: #fff;
}
.cancel-btn:hover,
.cancel-btn:focus{
    background: #ccc;
    color: #fff;
}
iframe{
  display: block;
  border: 0;
}
.datetimepicker td, .datetimepicker th {
  width: 30px;
  height: 30px;
}
input[type=file].form-control{
  height: 40px;
}

/* 头部 */
.header{
  background: #26b1e3;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 62px;
}
.header .navbar{
  border: 0;
  margin-bottom: 0;
}
.header .navbar-right{
  float: right;
  margin-right: -15px;
}
.logo{
  float: left;
}
.logo a{
  display: block;
  padding: 5px;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}
.logo img{
  height: 52px;
  width: auto;
  padding-right: 10px;
}
.nav-wrap{
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
}
.nav-wrap li{
  float: left;
  border-left: 1px solid #249bc6;
  font-size: 12px;
}
.nav-wrap li a{
  display: block;
  line-height: 30px;
  padding: 4px 10px;
  color: #fff;
  text-align: center;
  min-width: 76px;
  text-decoration: none;
}
.nav-wrap li i{
  display: block;
  font-size: 24px;
}

/* 内容页 */
.main{
  padding-bottom: 40px;
  padding-top: 62px;
}
.page{
  overflow: hidden;
  position: relative;
}
.page-mark{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  display: none;
}


/* 底部 */
.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  overflow: hidden;
  background: #24262b;
}
.copyright{
  padding: 10px;
  color: #fff;
  text-align: center;
}
.company{
  padding-right: 50px;
}


.mCSB_scrollTools .mCSB_draggerRail{
  width:20px;
  background:#ccc;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
  width:8px;
  background:#888;
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
  background:#555;
}
